html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

main {
  width: 55%;
  margin: 20px auto;
}

textarea {
  width: 100%;
}

.div-for-centering-button {
  text-align: center;
}

button {
  font-size: 2rem;
  border-radius: 5px;
  padding: 8px;
}

.output-area {
  margin: 20px auto;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
}
