html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

form {
  width: 55%;
  margin: 20px auto;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  font-size: 2rem;
  border-radius: 5px;
  padding: 8px;
  margin: 4px 0;
}

.div-for-centering-button {
  text-align: center;
}

button {
  font-size: 2rem;
  border-radius: 5px;
  padding: 8px;
}

input[type="checkbox"] {
  border-radius: 5px;
  padding: 8px;
  margin: 4px 0;
}

label {
  font-size: 1.25rem;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
}
